body
{
  background: radial-gradient(hsl(106, 23%, 22%), hsl(109, 11%, 20%));
  color: white;
  text-align: center;
  font-family: 'Muli', sans-serif;	
  margin: 0px;
  width: 100vw;
}

h1
{
    font-family: 'Montserrat', sans-serif;  
    font-size: 70px;
    font-weight: 500;
    margin-bottom: -15px;
}

h2
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: hsla(0, 0%, 100%, 0.4);    
}

h3, h4
{
	font-size:25px;
    margin-bottom: -15px;
}

h4
{
    letter-spacing: 8px;
    font-weight: 100;
}

p, .footer_link
{
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 3px;
    font-weight: 300;	
}

button
{
	color: white;
    background-color: hsla(0, 0%, 0%,0);
    padding: 8px;
    border-radius: 15px;
    border-width: 3px;
    border-style: solid;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    margin: 25px;
    width: 230px;
    cursor: pointer;	
}

button:hover
{
    background-color: hsl(0, 0%, 87%);
    color: #31442c;
    font-weight:500;
}

hr
{
    margin-bottom: 50px;
}

#ytvideo
{
    width: 800px;
    height: 450px;    
}

#audio
{
    width: 800px;
    height: 200px;
    margin-top: 55px;
}

.separator_logo
{
    display: block;
    margin: auto;
    margin-top: 130px;    
}

.icon_label_bar
{
    margin: 45px;
}

.iconlabel
{
    width: 140px;
    display:inline-block;
    cursor:pointer;
}

.iconlabel a
{
    text-decoration: none;    
}

.icon
{
    height: 45px;
    margin: 8px;
}

.selected_icon
{
    fill: white !important; /*this is because we want to overwrite the locally specified color in the svg*/
    fill-opacity: 1 !important; /*this is because we want to overwrite the locally specified color in the svg*/
}

#footer_screenshot_container
{
    overflow: hidden;
    height: 500px;
    width: 100vw;
    margin-top: 50px;
    margin-bottom: 50px;
}

#footer_screenshot
{
    margin-top: -300px;
    width: auto;
}

.checkbox_area
{
    width: 350px;
    margin: auto;    
}

.checkbox
{
    width: 20px;
    border-radius: 6px;
    height: 20px;
    background-color: hsla(0, 0%, 100%, 0.2);    

    margin-bottom: -20px;
    cursor: pointer;    
}

.selected_checkbox
{

}

.credits
{
    color: hsl(108, 20%, 13%);
    margin: 20px;
    font-size: 20px;    
}

.footer_link
{
    margin: 50px;
}

.textfield
{
    margin: 10px;
    height: 40px;
    border-radius: 10px;
    border-style: none;    
    background-color: hsla(0, 0%, 100%, 0.2);

    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 25px;
    padding-top: 25px;
    color: white;

    font-family: Muli;
    font-size: 20px;
    width: 210px;
}

.nonselected_tag, .selected_tag
{
    border-style: solid;
    width: 160px;
    padding: 6px;
    border-width: 1px;
    border-radius: 10px;
    float: left;
    margin: 6px;
    text-align: center;
}

.selected_tag
{
    color: hsl(106, 23%, 22%);
    background-color: white;
}

.main, .devlog
{
    width: 750px;   
}

.devlog p
{
    text-align: left;
    margin-bottom: 45px;
    line-height: 20px;
    font-size: 17px;
    letter-spacing: 2px;
    line-height: 25px;
    font-size: 17px;
    font-weight:300;
    letter-spacing: 1px;
    color: hsla(0, 0%, 100%, 0.85);
}

.devlog_list_item
{
    text-align: left;
    padding: 30px;
    padding-top: 1px;
}

.odd
{
    background-color: hsla(0, 0%, 100%, 0.15);    
}

.devlog_list_item .selected_tag
{
    margin: 0px;
    margin-top: 30px;
    float: none;
    margin-bottom: 30px;
    font-size: 10px;
    width: 89px;
    border-radius: 6px;
}

.devlog_list_item p
{
    font-size: 16px;
}

.devlog_list_item_content
{
    width: 750px;
    margin: auto;    
}

p.pull_quote
{
    font-size: 27px;
    line-height: 37px;
    padding-left: 20px;
    letter-spacing: 3px;
    margin-bottom: 25px;
    margin-top: -25px;
}

.devlog_title, .devlog_label
{
    text-align: left;
    width: 970px;
    margin: auto;
}

.devlog_title
{
    height: 260px;
}

.devlog_label
{
    font-weight: 300;
    padding-top: 145px;
    letter-spacing: 10px;
}

.page_header
{
    text-align: left;
    width: 750px;
    margin: auto;
    margin-top: 35px;
    font-size: 35px;
}

.salient_title
{
    margin-bottom:20px;
    margin-top:55px;
}

.salient_title a
{
    text-decoration: none;
    text-transform: uppercase;
}

.email_column
{
    text-align: left;
    width: 800px;
}

.devlog_title_email
{
    height: inherit;
    margin-top: 35px;
    font-weight: inherit;    
}

.email_column #label_bar
{
    margin-top: inherit;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 255, 255, 0.3);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(255, 255, 255, 0.3);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(255, 255, 255, 0.3);
}

a
{
    color:white;
}

#title_area
{
    height: 540px;
    overflow: hidden;
}

video
{
    height: 540px;
}

#main_logo
{
    margin-top: 65px;    
}

#title_wrapper
{
    position: relative;
    margin-top:-500px;    
}

.devlog_list_title_area #title_wrapper
{
    position: relative;
    margin-top: 20px;    
}

#main_column, #extra_content
{
    margin: auto;
}

#email
{
    width: 440px;
}

#once_per_month
{
    font-size: 16px;
    color: hsla(0, 0%, 100%, 0.37);
    font-weight: 100;
    margin: 20px;
    letter-spacing: 4px;    
}

#label_bar
{
    height: 50px;
    margin-top: 120px;    
}

#first_p
{
    font-size: 24px;
    font-weight: 100;
    letter-spacing: 3px;
    line-height: 35px;    
    color: white;
}

#date
{
    color: hsla(0, 0%, 100%, 0.55);
    font-size: 13px;    
}

#first_character {
  color: white;
  float: left;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

#portrait
{
    height: 120px;
    margin-top: -63px;
}

#portrait_label
{
    font-weight: 700;
}

#latest_devlog
{
    width: 100vw;
}

.selected_checkbox
{
    background-color: white;
    width: 14px;
    height: 14px;
    border-radius: 4px;    
    left: 3px;
    top: 3px;
    position: relative;
}

#checkboxlabel
{
    margin-left: 30px;
}

@media only screen and (max-width: 1023px)
{
    video
    {
        visibility: hidden;
        width: 360px;
    }

    #ytvideo, #audio, #model, .sketchfab-embed-wrapper
    {
        width: 90vw;
        height: 50vw;        
    }

    #title_area
    {
        background-image: url('/static/png/parallax.png');
        background-position-y: -235px;
        background-position-x: -230px;
    }

    #main_area
    {
        padding: 10px;
    }

    #footer_screenshot_container
    {
        margin-left: 0px;
        width: 100%
    }

    .main, .devlog 
    {
        width: 100vw;
    }

    .devlog
    {
        overflow: scroll;
    }

    #latest_devlog
    {
        margin-left: inherit;
        margin-right: inherit;
        padding: inherit;
    }

    .devlog_list_item_content
    {
        width: inherit;
    }

    #email
    {
        width: inherit;
    }

    .page_header
    {
        width: inherit;
    }

    .devlog_title
    {
        width: 90%;
        margin-left: 20px;
        font-size: 45px;
        overflow: scroll;
    }

    .devlog_label
    {
        width: 90%;
        margin-left: 20px;
    }

    .iconlabel
    {
        margin: 25px;
    }

    .nonselected_tag, .selected_tag
    {
        margin: 3px;
        font-size: 10px;
        width: 110px;
    }
}

.devlog h2, .devlog h3
{
    color: white;
    text-align: left;
    letter-spacing: 4px;
}

.devlog h2
{
    font-size: 25px;
    margin-left: 16px;   
    margin-top: 80px;
}

.devlog h3
{
    font-size: 16px;
}

.devlog li
{
    text-align: left;
}

code
{
    background-color: hsla(0, 0%, 100%, 0.1);
    border-radius: 3px;
    padding-left: 2px;
    padding-right: 2px;    
}

ul
{
    margin-top: -25px;
    margin-bottom: 25px;    
}

ul ul
{
    margin-top: 25px;
}

.devlog_title_area, .devlog_list_title_area
{
    background-image: url('/static/png/parallax.png');
    background-position-y: -250px;
}

#dark_overlay
{
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.2);
    margin-bottom: -540px;    
}

/* Some style for image sliders */
* {box-sizing: border-box;}

.img-comp-container {
  position: relative;
  height: 200px; /*should be the same height as the images*/
  margin: auto;
  width: 327px;
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.img-comp-img img {
  display: block;
  vertical-align: middle;
}

.img-comp-overlay {
    border-right: 1px solid white;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  width: 24px;
  height: 24px;
  opacity: 0.8;
  background-image: url(/static/svg/slider.svg);
}

.devlog button 
{
    color: white;
    background-color: hsla(0, 0%, 100%, 0.15);
    padding: 7px;
    border-radius: 9px;
    border-width: 2px;
    border-style: solid;
    font-family: 'Muli', sans-serif;
    font-size: 13px;
    width: 200px;
    cursor: pointer;
    margin: 6px;
}

#dayNightCycleSlider
{
    width: 750px;
   -webkit-appearance: none;
   background-color: hsla(0, 0%, 100%, 0);
}

#dayNightCycleSlider::-webkit-slider-runnable-track
{
    background-color: hsla(0, 0%, 100%, 0.2);
    border-radius: 10px;
    height: 10px;
    margin-top:3px;
}

#dayNightCycleSlider::-webkit-slider-thumb
{
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin-top:-4px;
}

#dayNightCycleSlider:focus
{
   outline: none;
}

#dayNightCycleSlider::-moz-range-thumb
{
    -webkit-appearance: none;
    appearance: none;
    background-color: blue;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 20px;
}   

#neighbours_progress_slider::-moz-range-track
{
    background-color: green;
    border-radius: 10px;
    height: 10px;
}

.player_group
{
    width: 100%;
    display: inline-block;
}

.player_container
{
    width: 100px;
    height: 100px;
    float: left;
    margin: 25px;
}

.layerplayer
{
    width: 69px;    
    cursor: pointer;
}

.layerplayer_extra_layer
{
    cursor: pointer;
    position: relative;
    top: -71px;
    left: 83px;
}

.overlay
{
    position: absolute;
    right: -17px;
    height: 540px;
    top: 0px;    
}